<h1 id="h1">H1<a href="#h1" title="Permalink" class="anchor"></a></h1>
<h2 id="h2">H2<a href="#h2" title="Permalink" class="anchor"></a></h2>
<h3 id="h3">H3<a href="#h3" title="Permalink" class="anchor"></a></h3>
<h4 id="h4">H4<a href="#h4" title="Permalink" class="anchor"></a></h4>
<h5 id="h5">H5<a href="#h5" title="Permalink" class="anchor"></a></h5>
<h6 id="h6">H6<a href="#h6" title="Permalink" class="anchor"></a></h6>

<p>Alternatively, for H1 and H2, an underline-ish style:</p>

<h1 id="alt-h1">Alt-H1<a href="#alt-h1" title="Permalink" class="anchor"></a></h1>

<h2 id="alt-h2">Alt-H2<a href="#alt-h2" title="Permalink" class="anchor"></a></h2>

<h2 id="hello-mergehash-and-another-link">Hello <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/lib/gitlab/utils/merge_hash.rb"><code>MergeHash</code></a> and <a href="https://gitlab.com/foo">another link</a><a href="#hello-mergehash-and-another-link" title="Permalink" class="anchor"></a></h2>
